    <%= form_with model: [:public, customer], local:true do |f| %>


      <th>氏名</th>
      <td><%= f.text_field :last_name, class: 'form-control' %><%= f.text_field :first_name, class: 'form-control' %></td>

      <th>フリガナ</th>
      <td><%= f.text_field :last_kana, class: 'form-control' %><%= f.text_field :first_kana, class: 'form-control' %></td>

      <th>郵便番号</th>
      <td><%= f.text_field :postcode, class: 'form-control' %></td>

      <th>住所</th>
      <td><%= f.text_field :address, class: 'form-control' %></td>

      <th>電話番号</th>
      <td><%= f.text_field :phone_number, class: 'form-control' %></td>

      <th>メールアドレス</th>
      <td><%= f.text_field :email, class: 'form-control' %></td>


    <%= f.submit class: 'btn btn-success' %>


  <% end %>