<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-3">
      <h2>商品詳細</h2>
      <%= image_tag @item.image, class: "img-fluid", alt: "商品画像" %>
    </div>

    <div class="col-md-8 px-sm-0 offset-sm-1">
      <div class="item-details">
        <div class="item-info">
          <span class="item-label">商品名：</span>
          <span class="item-name"><%= @item.name %></span>
        </div>
        <div class="item-info">
          <span class="item-label">商品説明：</span>
          <span class="item-introduction"><%= @item.introduction %></span>
        </div>
        <div class="item-info">
          <span class="item-label">ジャンル：</span>
          <span class="item-genre-name"><%= @item.genre.name %></span>
        </div>
        <div class="item-info">
          <span class="item-label">税込価格(税抜価格)：</span>
          <span class="item-charge"><%= @item.taxin_order_price %>(<%= @item.without_tax %>)円</span>
        </div>
        <div class="item-info">
          <span class="item-label">販売ステータス：</span>
          <% if @item.sale_status == "on_sale" %>
            <span class="text-success"><strong>販売中</strong></span>
          <% elsif @item.sale_status == "sold" %>
            <span class="text-danger"><strong>販売停止中</strong></span>
          <% end %>
        </div>
        <%= link_to "編集する", edit_admin_item_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>