
<p>ようこそ、ながのCAKEへ!</p>
<p>このサイトは、ケーキ販売のECサイトになります。</p>
<p>会員でない方も商品の閲覧はできますが、</p>
<p>購入には会員登録が必要となります。</p>

<h1>新着商品</h1>

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag 'cake_1.jpg' %>
    </div>
    <div class="carousel-item">
       <%= image_tag 'cake_2.jpg' %>
    </div>
    <div class="carousel-item">
       <%= image_tag 'cake_3.jpg' %>
    </div>
    <div class="carousel-item">
       <%= image_tag 'cake_4.jpg' %>
    </div>
    <div class="carousel-item">
       <%= image_tag 'cake_5.jpg' %>
    </div>
  </div>
</div>
