<table class='table table-hover table-inverse'>

  <tr>
    <th>会員ID</th>
    <td>
    <%= customer.id %>
    </td>
  </tr>
  <tr>
    <th>氏名</th>
    <td><%= customer.full_name %></td>
  </tr>
  <tr>
    <th>フリガナ</th>
    <td><%= customer.full_name_kana %></td>
  </tr>
  <tr>
    <th>郵便番号</th>
    <td><%= customer.postcode %></td>
  </tr>
  <tr>
    <th>住所</th>
    <td><%= customer.address %></td>
  </tr>
  <tr>
    <th>電話番号</th>
    <td><%= customer.phone_number %></td>
  </tr>
  <tr>
    <th>メールアドレス</th>
    <td><%= customer.email %></td>
  </tr>
  <tr>
    <th>会員ステータス</th>
    <td>

    </td>
  </tr>
</table>