<body>

<div class="container">
  <div class="mb-9 row mb-3">
    <span class="text-3xl font-bold col-md-5 offset-md-4">
      <h2>ショッピングカート</h2>
    </span>
  </div>

  <%= form_with model: @cart_item, url: public_cart_items_destory_all_path, method: :delete, "data-confirm" => "本当に消しますか？", local:true do |f| %>
    <div class="form-group col-md-3 offset-md-10">
      <%= f.submit "カートを空にする", class: "btn btn-sm btn-danger" %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 offset-md-3 ">
      <% if @cart_items.count == 0 %>
      <div>
        <p class='mb-8 text-xl text-center'>No item</p>
        <div class='mb-6'>
          <%= link_to public_items_path do %>
            <span class='col-md-7 offset-md-5 '>
              商品を探す
            </span>
          <% end %>
        </div>
      </div>
      <% else %>
        <div class="xl:flex col-md-12 offset-md-1">
          <div class="px-6 flex justify-content-center mb-7 xl:w-2/3">
            <div class="overflow-x-auto text-center mb-3">
              <table>
                <thead>
                  <tr>
                    <th>商品名</th>
                    <th>単価(税込)</th>
                    <th>数量</th>
                    <th>小計</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="text-center">
                  <% @cart_items.each do |cart_item| %>
                    <tr class="focus:outline-none h-16 border border-gray-100 rounded">
                      <td>
                        <div>
                          <span class="font-bold text-xl"><%= cart_item.item.name %></span>
                        </div>
                      </td>
                      <td class="p-3">
                        <span class="text-lg"><%= number_to_currency(cart_item.item.taxin_order_price, strip_insignificant_zeros: true) %></span>
                      </td>
                      <td class="p-3">
                        <div class="flex justify-center">
                          <%= link_to decrease_public_cart_item_path(cart_item), method: :patch , class: "flex justify-center" do %>
                            <svg class="fill-current text-red-500 w-3" viewBox="0 0 448 512">
                              <path d="M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
                            </svg>
                          <% end %>
                          <span><%= cart_item.quantity %></span>
                          <% unless cart_item.quantity >= cart_item.item.without_tax %>
                            <%= link_to increase_public_cart_item_path(cart_item), method: :patch , class: "flex justify-center" do %>
                              <svg class="fill-current text-blue-500 w-3" viewBox="0 0 448 512">
                                <path d="M416 208H272V64c0-17.67-14.33-32-32-32h-32c-17.67 0-32 14.33-32 32v144H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h144v144c0 17.67 14.33 32 32 32h32c17.67 0 32-14.33 32-32V304h144c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z"/>
                              </svg>
                            <% end %>
                          <% end %>
                        </div>
                      </td>
                      <td class="p-3">
                        <span class="text-lg"></span>
                      </td>
                      <td class="p-3">
                        <div class="flex justify-center">
                          <!--削除ボタン-->
                          <%= link_to public_cart_item_path(cart_item), method: :delete, "data-confirm": 'Are you sure?' do %>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash text-red-500" viewBox="0 0 16 16">
                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                          <% end %>
                        </div>
                      </td>
                    </tr>
                    <!--合計金額計算-->
                    <% @total += cart_item.item.taxin_order_price * cart_item.quantity %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <% end %>
          <div class="px-6 xl:w-1/3 text-center col-md-7 offset-md-2 mb-3">
            <div class="flex justify-between my-6">
              <span class="font-semibold text-lg uppercase">合計金額</span>
              ¥<%= @total.round.to_s(:delimited)%>
            </div>
          </div>
          <!--下記のフォームは注文画面へのリンクにしてください。-->
          <div class = "row">
          <div class="form-group col-md-4 offset-md-4">
            <%= form_with model: @order, url: new_public_order_path, method: :get, local:true do |f| %>
              <%= f.submit "情報入力に進む", class: "btn btn-success" %>
            <% end %>
          </div>
          <div class="form-group col-md-4 offset-md-4">
            <%= link_to "商品一覧に戻る", public_items_path, class: 'btn btn-info' %>
          </div>
          </div>
        </div>
      </div>
  </div>
</div>
</body>