<div class="container mt-5 mb-5">
  <h2>注文情報確認</h2>

  <div class="row">
    <div class="col-md-8">
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= cart_item.item.name %></td>
              <td><%= number_to_currency(cart_item.item.taxin_order_price, strip_insignificant_zeros: true) %></td>
              <td><%= cart_item.quantity %></td>
              <td><%= cart_item.sum_of_order_price %>円</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-8">
      <table class='table table-hover table-inverse'>
        <tr>
          <th>商品合計</th>
          <th><%= @total %>円</th>
        </tr>
        <tbody>
          <tr>
            <th>送料</th>
            <th>800円</th>
          </tr>
          <tr>
            <th>請求額</th>
            <th><%= @total + 800 %>円</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <p><strong>支払方法 </strong><%= @order.pay_method_i18n %></p><br>

  <p><strong>お届け先 </strong>〒<%= @order.postcode %> <%= @order.address %><br>
  <%= @order.name %></p><br>

  <%= form_with model: @order, url: public_orders_path, local: true do |f| %>
    <div class="form-group col-md-8 offset-md-4">
      <%= f.hidden_field :postcode, :value => @order.postcode %>
      <%= f.hidden_field :address, :value => @order.address %>
      <%= f.hidden_field :name, :value => @order.name %>
      <%= f.hidden_field :charge, :value => @total %>
      <%= f.hidden_field :pay_method, :value => @order.pay_method %>
      <%= f.submit "注文を確定する", class: "btn btn-success" %>
    </div>
  <% end %>
</div>