<div class="container mt-5 mb-5">
  <h2>注文情報入力</h2>
  <%= render 'layouts/errors', obj: @order %>
  <%= form_with model: @order, url: confirm_public_orders_path, method: :post, class: "my-4" do |f| %>
    <div class="form-group mb-3">
      <%= f.label "支払い方法" %>
      <div class="form-check">
        <%= f.radio_button :pay_method, Order.pay_methods.key(0), class: "form-check-input" %>
        <%= f.label :pay_method_credit_card, Order.pay_methods_i18n[:credit_card], class: "form-check-label" %>
      </div>
      <div class="form-check">
        <%= f.radio_button :pay_method, Order.pay_methods.key(1), class: "form-check-input" %>
        <%= f.label :pay_method_transfer, Order.pay_methods_i18n[:transfer], class: "form-check-label" %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label "お届け先" %>
      <div class="form-check mb-3">
        <%= f.radio_button :address_number, 1, class: "form-check-input", :checked => true %>
        <!--:checked => trueで、デフォルトでご自身の住所にチェックを入れておく-->
        <%= f.label :address_1, "ご自身の住所", class: "form-check-label" %>
        <br>
        〒<%= current_customer.postcode %>
        <%= current_customer.address %><br>
        <%= current_customer.last_name + current_customer.first_name %>
      </div>
      <div class="form-check mb-3">
        <%= f.radio_button :address_number, 2, class: "form-check-input" %>
        <%= f.label :address_2, "登録先の住所", class: "form-check-label" %>
        <%= f.select :address_id, options_from_collection_for_select(@customer_address, :id, :address_display) %>
      </div>
      <div class="form-check mb-3">
        <%= f.radio_button :address_number, 3, class: "form-check-input" %>
        <%= f.label :address_3, "新しいお届け先", class: "form-check-label" %><br>
        <%= f.label :postcode, "郵便番号（ハイフンなし）", class: "form-check-label" %>
        <div class="input-group">
          <%= f.text_field :postcode, placeholder: "0000000", class: "form-control" %>
        </div>
        <%= f.label :address, "住所", class: "form-check-label" %>
        <div class="input-group">
          <%= f.text_field :address, placeholder: "ここに住所を入れて下さい", class: "form-control" %>
        </div>
        <%= f.label :name, "宛名", class: "form-check-label" %>
        <div class="input-group">
          <%= f.text_field :name, placeholder: "名前を入れて下さい", class: "form-control" %>
        </div>
      </div>
    </div>

    <div class="form-group">
      <%= f.submit "確認画面へ進む", class: "btn btn-info" %>
    </div>
  <% end %>
</div>