
<div class="container">
    
<script src="jquery.min.js"></script>
<script src="app.js"></script>
<%= stylesheet_link_tag "application", :media => "all" %>


<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
       <%= image_tag 'cake_1.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'cake_2.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'cake_3.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'cake_4.jpg' %>
    </div>
    <div class="swiper-slide">
       <%= image_tag 'cake_5.jpg' %>
    </div>
  </div>
  <!-- ページネーションの要素 -->
  <div class="swiper-pagination"></div>
  <!-- ナビゲーションボタン （前、次） -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>

  <div class="mb-8 text-center">
    <span class="jquery text-3xl font-bold">
      商品一覧
    </span>
    <div class="row">
      <div class="col-lg-2" >
        <%= render 'genre', genres: @genres %>
      </div>
      
      <div class="col-lg-10">
        <div class="row d-flex flex-wrap">
          <% @items.each do |item| %>
          <div class="col-3">
            <%= link_to public_item_path(item) do %>
              <%= image_tag item.get_item_image(150,150) %>
            <% end %>
          <p><%= link_to item.name, public_item_path(item) %><%= number_to_currency(item.without_tax, strip_insignificant_zeros: true) %></p>
          </div>
          <% end %>
        </div>
      </div>
      
    </div>
  </div>
</div>
</html>
<%= paginate @items %>