<%= stylesheet_link_tag "public/items", :media => "all" %>

<div class="container">
  <div class="text-center display-4 text-3xl font-bold line mt-10 mb-10 text-success">
    商品一覧
  </div>
  <div class="row mt-5">
    <div id="carouselExampleIndicators" class="carousel slide col-md-10 offset-md-1" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'n1.jpg', size: '900x500' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'cake_2.jpg', size: '900x500' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'candy_1.jpg', size: '900x500' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'cake_4.jpg', size: '900x500' %>
      </div>
      <div class="carousel-item">
        <%= image_tag 'pudding_1.jpg', size: '900x500' %>
      </div>
    <a class="carousel-control-prev " href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon " aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    </div>
    </div>
  </div>
  
  <div class="mb-9 mt-5 text-center">
    <div class="row">
      <div class="col-lg-2" >
        <%= render 'genre', genres: @genres %>
      </div>
      <div class="col-lg-10">
        <div class="row d-flex flex-wrap">
          <% @items.each do |item| %>
          <div class="col-3">
            <%= link_to public_item_path(item) do %>
              <%= image_tag item.get_item_image(150,150) %>
            <% end %>
            <div><%= link_to item.name, public_item_path(item) %></div>
            <div><%= number_to_currency(item.without_tax, strip_insignificant_zeros: true) %></div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mx-auto">
  <div class="col-md-4 offset-md-4 mt-7">
      <%= paginate @items %>
  </div>
</div>