<div class='container'>
    <%#= render 'ジャンル検索' %>
  <div class='row'>
    <div class='col offset-md-1 text-center'>
      <table class='table'>
        <tr>
          <th>
            <%= link_to public_item_path(@item) do %>
              <%= image_tag @item.get_item_image(200,200) %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>
            <%= @item.name %>
          </th>
        </tr>
        <tr>
          <td><%= @item.introduction %></td>
        </tr>
        <tr>
          <td><%= number_to_currency(@item.without_tax, strip_insignificant_zeros: true) %></td>
        </tr>
        <tr>
          <th><button type="button" class="btn btn-primary">カートに入れる</button></th>
        </tr>
          
          
          
      </table>
    </div>
  </div>
</div>